* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;

  font-family: Muppets;
}

nav {
  display: flex;

  height: 65px;
  padding: 30px;

  color: #f8f8f8;
  font-family: Muppets;
}

.nav__item {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  gap: 52px;
}

.nav__links {
  font-size: xx-large;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  display: flex;

  width: 500px;
  height: 200px;

  margin-left: 650px;
}

.h_logo {
  display: flex;

  width: 400px;
  height: 150px;

  margin-left: 720px;
}

.title {
  text-transform: lowercase;
  text-shadow: 5px 5px 1px crimson;
  color: white;
  font-size: 60px;
  text-align: center;

  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 400px;
  height: 650px;

  background-color: white;
  overflow: hidden;
  border-radius: 20px;

  font-family: Muppets;
}

.pic {
  width: 400px;
}

.card_title {
  font-size: 50px;

  text-align: center;
}

.card_text {
  font-size: 50px;

  text-align: center;
}

.card_button {
  padding: 5px 10px;

  font-size: 20px;

  background-color: black;
  color: white;
  border-radius: 30px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 30px;
}
